.bc-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.bc-wrapper {
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
}
ul.breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
}
ul.breadcrumb li {
  display: flex;
  align-items: baseline;
}
ul.breadcrumb li a:not(last-child) {
  text-decoration: underline;
  color: hsla(200, 10%, 31%, 1);
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: hsla(200, 10%, 31%, 1);
  content: "/\00a0";
}