
.patient.row {
  --bs-gutter-x: 0 !important;
  gap: 12px;
}
.card {
  padding: 0px;
}
.card-patient {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.card-patient > a > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-patient > a {
  width: 100%;
}
.card-inner { 
  padding: 8px;
}
.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}