* {
  margin: 0;
  padding: 0;
}

a {
  color: hsla(200, 10%, 31%, 1);
  text-decoration: none;
}
button {
  cursor: pointer;
}

@font-face {
  font-family: 'gobCL';
  src: local('static/fonts/gobCL_Regular.otf') format("opentype");
}
@font-face {
  font-family: 'gobCL';
  font-weight: 600;
  src: local('static/fonts/gobCL_Bold.otf') format("opentype");
}

body {
  font-family: 'gobCL';
  color: hsla(200, 10%, 31%, 1);
}

footer > .row {
  --bs-gutter-x: 0 !important;
}

.wrapper > h2 {
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 0px 24px;
}
.wrapper-body {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #e6e6e6;
  height: 100%;
}
.card img {
  height: 100%;
}
.card {
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  /* border: solid 1px #BDC9D1; */
  margin-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  transition: transform 0.2s;
}

.card:hover {
  background-color: rgb(247, 247, 247);
  transform: scale(1.02);
}

.card-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="submit"] {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="submit"]:hover {
  background: #094e83;
}