* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'gobCL';
  src: local('static/fonts/gobCL_Regular.otf') format("opentype");
}
@font-face {
  font-family: 'gobCL';
  font-weight: 600;
  src: local('static/fonts/gobCL_Bold.otf') format("opentype");
}

body {
  font-family: 'gobCL';
  color: hsla(200, 10%, 31%, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.wrapper-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}
.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}