
/* Style the input fields */


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 0px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.activated {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

input {
  width: 100%;
}

textarea {
  margin: 0;
  width: 100%;
}

form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

select {
  width: 100%;
  padding: 6px;
}

input {
  font-size: 16px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.col-md-6 {
  margin-bottom: 15px;
}
.col-md-6 > p {
  margin-bottom: 0.1rem;
}
.form-btn {
  font-family: 'GobCL';
  padding: 5px 15px;
  background-color: #0f69b4;
  color: white;
  border: none;
}