{% extends "layout.html" %}
{% set active_page = "postquirurgico" %}
{% block title %} Paciente {% endblock %}
{% block head %}
  {{ super () }}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/estado_paciente.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap-grid.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card-container row col-md-12" style="padding: 10px 0;--bs-gutter-x: 0 !important;">
    <h2 style="margin-bottom: 5px">Datos de la Evaluacion</h2>
    <div class="col-md-3" style="font-size: 16px; color: rgb(128, 128, 128)">
      <p>ID de la Evaluacion:</p>
      <p>Temperatura (°C):</p>
      <p>Presion Arterial (P/M):</p>
      <p>Frecuencia Cardiaca (mm/Hg):</p>
      <p>Frecuencia Respiratoria (R/M):</p>
      <p>Examen Fisico:</p>
      <p>Zona Operacion:</p>
      <p>Observacion:</p>
      <p>Fecha:</p>
    </div>
    <div class="col-md-3">
      <p>{{ eva.id }}</p>
      <p>{{ eva.temperatura }}</p>
      <p>{{ eva.presion_arterial }}</p>
      <p>{{ eva.frecuencia_cardiaca }}</p>
      <p>{{ eva.frecuencia_respiratoria }}</p>
      <p>{{ eva.examen_fisico }}</p>
      <p>{{ eva.zona_operacion }}</p>
      <p>{{ eva.observacion }}</p>
      <p>{{ eva.fecha.strftime('%Y-%m-%d') }}</p>
    </div>
  </div>
{% endblock %}