{% extends "layout.html" %}
{% set active_page = "home" %}
{% block title %} Home {% endblock %}
{% block head %}
  {{ super () }}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/prueba2.css') }}">
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
  <div class="cubo">
    <div class="hola">
        <h2>Buenas tardes {{ session['user'] }}</h2>
        <p class="letra2">
          Bienvenido al Sistema de Gestion Quirurgica del Servicio de Salud Metropolitano Sur Oriente.
        </p>
    </div>
    <div class="hola2">
      <p class="letra3">Anuncios</p>
        <div class="columnas" ><p class="letra2">Se ha lanzado una nueva plataforma web para apoyar al Proceso Quirugico</p><p class="letra4">Hace 2 horas</p></div>

    </div>

    <div class="hola3">
      <p class="letra3">Actualizaciones</p>
      <div class="columnas" ><p class="letra2">v1.0.1: Se ha implementado el formulario "Evaluar Paciente"</p><p class="letra4">Hace 1 hora</p></div>
      <div class="columnas" ><p class="letra2">v1.0.0: Lanzamiento Inicial de la Plataforma</p><p class="letra4">Hace 3 horas</p></div>
    </div>
  </div>
{% else %}
  {% include 'components/unauthorized.html' %}
{% endif %}
{% endblock %}