{% extends "layout.html" %}
{% set active_page = "perfil" %}
{% block title %} Mi Perfil {% endblock %}
{% block head %}
  {{ super () }}
{% endblock %}
{% block content %}
  <h3>Datos Personales</h3>
  <p>Nombre Completo: {{ data.nombre }} {{ data.apellido }}</p>
  <p>RUT: {{ data.rut }}</p>
  <p>Telefono: {{ data.telefono }}</p>
  <p>Correo Electronico: {{ data.mail }}</p>
  <p>Cargo: {{ data.cargo }}</p>
  <a href="/logout" style="width: max-content">
  <button style="cursor: pointer">Cerrar Sesion</button>
  </a>
{% endblock %}