{% extends "layout.html" %}
{% set active_page = "postquirurgico" %}
{% block title %} Fase Post-Quirurgica {% endblock %}
{% block head %}
  {{ super () }}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap-grid.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% if session['cargo'] != 'Anestesista' and session['cargo'] != 'Enfermera' %}
  {% include 'components/unauthorized.html' %}
{% else %}
  <h2>Acciones</h2>
    <div class="row">
      <div class="col-md-6">
        <a href="/postquirurgico/evaluacion_paciente">
          <div class="card">
            <div style="padding: 0 12px">
              <img style="width: 70px; height: 150px" src="{{url_for('static', filename='svg/patient.svg')}}" alt="picsum">
            </div>
            <div class="card-items">
              <div class="card-title">
                <h3 style="max-width: 200px">Evaluacion de Paciente</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
          <div id="animation" class="card" onclick="startAnimation()">
            <div style="padding: 0 12px">
              <img style="width: 70px; height: 150px" src="{{url_for('static', filename='svg/report.svg')}}" alt="picsum">
            </div>
            <div class="card-items">
              <div class="card-title">
                <h3 style="max-width: 200px">Indicar Cuidados Post-Anestesicos</h3>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <a href="">
          <div class="card" style="padding: 0 12px">
            <div>
              <img style="width: 70px; height: 150px" src="{{url_for('static', filename='svg/ambulance.svg')}}" alt="picsum">
            </div>
            <div class="card-items">
              <div class="card-title">
                <h3 style="max-width: 200px">Coordinar Traslado</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/postquirurgico/paciente">
          <div class="card" style="padding: 0 12px">
            <div>
              <img style="width: 70px; height: 150px" src="{{url_for('static', filename='svg/healthcare.svg')}}" alt="picsum">
            </div>
            <div class="card-items">
              <div class="card-title">
                <h3 style="max-width: 200px">Ver Estado de Paciente</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
{% endif %}
{% endblock %}