<div>
    <footer>
        <div class="ffooter">
            <div class="conjunto">
                <div class="conjunto 2">
                    <div class="casilla">
                        <p class="titulo">Gestion Salud</p>
                        <ul>
                            <li>DEIS</li>
                            <li>GEIS - Registro Urgencia</li>
                            <li>Gestion de Camas</li>
                            <li>Proyecto MIS</li>
                            <li>Urgencia Infantil</li>
                        </ul>
                    </div>
                    <div class="casilla">
                        <p class="titulo">Normas y Manuales</p>
                        <ul>
                            <li>DEIS</li>
                            <li>GEIS - Registro Urgencia</li>
                            <li>Gestion de Camas</li>
                            <li>Proyecto MIS</li>
                            <li>Urgencia Infantil</li>
                        </ul>
                    </div>
    
                    <div class="casilla">
                        <p class="titulo">Sistema</p>
                        <ul>
                            <li>DEIS</li>
                            <li>GEIS - Registro Urgencia</li>
                            <li>Gestion de Camas</li>
                            <li>Proyecto MIS</li>
                            <li>Urgencia Infantil</li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </footer>
</div>