<div class="nav">
    <div class="portal">
        <p>Navegacion</p>
        <div class="portal2">
            <p>portal</p>
            <div class="casillanav">
                <img class="icon" src="https://cdn-icons-png.flaticon.com/512/263/263115.png" alt="icon">
                <p>inicio</p>

            </div>
            <div class="casillanav">
                <img class="icon" src="https://w7.pngwing.com/pngs/406/844/png-transparent-computer-icons-person-user-spark-icon-people-share-icon-user.png" alt="icon">
                <p>Usuarios</p>

            </div>
        </div>
        <div class="portal2">
            <br>
            <p>paciente</p>
            <div class="casillanav">
                <img class="icon" src="https://w7.pngwing.com/pngs/406/844/png-transparent-computer-icons-person-user-spark-icon-people-share-icon-user.png" alt="icon">
                <p>Pacientes</p>

            </div>
            <div class="casillanav">
                <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2693/2693507.png" alt="icon">
                <p>Lista espera</p>
                
            </div>
        </div>
        <br>
        <div class="portal2">
            <br><br>
            <p>pabellon</p>
            <div class="casillanav">
                <img class="icon" src="https://img2.freepng.es/20190418/olo/kisspng-computer-icons-vector-graphics-hospital-clip-art-m-hospital-png-icons-and-graphics-png-repo-free-pn-5cb93a45cb5912.8964267715556429498329.jpg" alt="icon">
                <p>Pabellones</p>
            </div>
        </div>
        <div class="portal2">
            <p>recurso</p>
            <div class="casillanav">
                <img class="icon" src="https://e7.pngegg.com/pngimages/943/533/png-clipart-computer-icons-box-box-miscellaneous-angle.png" alt="icon">
                <p>Pabellones</p>
            </div>

        </div>

    </div>
</div>